@layer devie {
  [data-devie-theme="theme-dark"] {
    --devie__theme-name: Dark;
    --devie__color__text: #d2d4d7;
    --devie__color__text-sub: #717070;
    --devie__color__line: #303030;
    --devie__color__background: #131313;
    --devie__color__background-sub: #1c1c1c;
    --devie__color__primary: #d1d1d1;
    --devie__color__primary-label: #131313;
    --devie__font-family:
      -apple-system, BlinkMacSystemFont, "SF Pro Text", "SF Pro Display",
      "Helvetica Neue", Helvetica, Arial, "Apple Color Emoji", sans-serif;
    --devie__effect__hover-intensity: 0.4;
    --devie__effect__disabled-intensity: 0.7;
    --devie__effect__disabled-desaturate: 0.3;
    --devie__effect__disabled-target-l: 0.5;
  }
}
