@layer devie {
  [data-devie-theme="theme-sharingan"] {
    --devie__theme-name: Sharingan;
    --devie__color__text: #fafafa;
    --devie__color__text-sub: #a1a1aa;
    --devie__color__line: #27272a;
    --devie__color__background: #09090b;
    --devie__color__background-sub: #18181b;
    --devie__color__primary: #dc2626;
    --devie__color__primary-label: #ffffff;
    --devie__color__danger: #ef4444;
    --devie__color__danger-label: #ffffff;
    --devie__color__success: #22c55e;
    --devie__color__success-label: #000000;
    --devie__color__warning: #eab308;
    --devie__color__warning-label: #000000;
    --devie__font-family:
      -apple-system, BlinkMacSystemFont, "SF Pro Text", "SF Pro Display",
      "Helvetica Neue", Helvetica, Arial, "Apple Color Emoji", sans-serif;
  }
}
