@use './_devie.scss' as *;

$badge-literal-colors: (
    literalGray: $devie__color__literal-gray,
    literalBrown: $devie__color__literal-brown,
    literalOrange: $devie__color__literal-orange,
    literalYellow: $devie__color__literal-yellow,
    literalGreen: $devie__color__literal-green,
    literalBlue: $devie__color__literal-blue,
    literalPurple: $devie__color__literal-purple,
    literalPink: $devie__color__literal-pink,
    literalRed: $devie__color__literal-red,
);

@layer devie {
    .badge {
        border-radius: 999px;
        padding: calc($devie__spacing__x05 - 1px) $devie__spacing__x1;
        display: flex;
        align-items: center;
        gap: $devie__spacing__x1;
        width: fit-content;
        font-size: $devie__font-size__normal;
        line-height: 1.5;
        cursor: default;
        font-family: $devie__font-family;
        transition: none;
        background: var(--badge-background);
        color: var(--badge-color);
        border: 1px solid var(--badge-border);

        a &,
        &[type="button"] {
            &:hover {
                background: #{devie-hover-color(var(--badge-background))};
                cursor: pointer;
            }
        }
    }

    .primary {
        --badge-background: #{$devie__color__primary};
        --badge-color: #{$devie__color__primary-label};
        --badge-border: #{$devie__color__primary};
    }

    .outline {
        --badge-background: #{$devie__color__background};
        --badge-color: #{$devie__color__text};
        --badge-border: #{$devie__color__line};
    }

    .danger {
        --badge-background: #{$devie__color__danger};
        --badge-color: #{$devie__color__danger-label};
        --badge-border: #{$devie__color__danger};
    }

    .success {
        --badge-background: #{$devie__color__success};
        --badge-color: #{$devie__color__success-label};
        --badge-border: #{$devie__color__success};
    }

    .warning {
        --badge-background: #{$devie__color__warning};
        --badge-color: #{$devie__color__warning-label};
        --badge-border: #{$devie__color__warning};
    }

    @each $name, $color in $badge-literal-colors {
        .#{$name} {
            --badge-background: #{$color};
            --badge-color: #FFFFFF;
            --badge-border: #{$color};
        }
    }
}
