@use './_devie.scss' as *;

@layer devie {
    .container {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap: $devie__spacing__x1;
        padding: $devie__spacing__x2;
        border-radius: $devie__radius;
        border-width: 1px;
        border-style: solid;
    }

    .icon {
        flex-shrink: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: $devie__spacing__x05;

        svg {
            width: 16px;
            height: 16px;
        }
    }

    .content {
        display: flex;
        flex-direction: column;
        gap: $devie__spacing__x1;
        flex: 1;
        min-width: 0;
    }

    .title {
        font-size: $devie__font-size__normal;
        font-weight: 500;
    }

    .text {
        font-size: $devie__font-size__normal;
    }

    .variantSuccess {
        background-color: color-mix(in srgb, $devie__color__success 10%, $devie__color__background 90%);
        border-color: $devie__color__success;

        .icon {
            color: $devie__color__success;
        }

        .title,
        .text {
            color: color-mix(in srgb, $devie__color__success 20%, $devie__color__text 80%);
        }
    }

    .variantDanger {
        background-color: color-mix(in srgb, $devie__color__danger 10%, $devie__color__background 90%);
        border-color: $devie__color__danger;

        .icon {
            color: $devie__color__danger;
        }

        .title,
        .text {
            color: color-mix(in srgb, $devie__color__danger 20%, $devie__color__text 80%);
        }
    }

    .variantWarning {
        background-color: color-mix(in srgb, $devie__color__warning 10%, $devie__color__background 90%);
        border-color: $devie__color__warning;

        .icon {
            color: $devie__color__warning;
        }

        .title,
        .text {
            color: color-mix(in srgb, $devie__color__warning 20%, $devie__color__text 80%);
        }
    }

    .variantPrimary {
        background-color: color-mix(in srgb, $devie__color__primary 10%, $devie__color__background 90%);
        border-color: $devie__color__primary;

        .icon {
            color: $devie__color__primary;
        }

        .title,
        .text {
            color: color-mix(in srgb, $devie__color__primary 20%, $devie__color__text 80%);
        }
    }

    .variantSub {
        background-color: $devie__color__background-sub;
        border-color: $devie__color__line;

        .icon {
            color: $devie__color__text-sub;
        }

        .title,
        .text {
            color: $devie__color__text-sub;
        }
    }
}