@use './_devie.scss' as *;

@layer devie {
    .root {
        display: flex;
        flex-direction: column;
        gap: $devie__spacing__x05;
    }

    .label {
        &[data-invalid] {
            color: $devie__color__danger;
        }
    }

    .description {
        font-size: $devie__font-size__small;
        color: $devie__color__text-sub;
    }

    .item {
        display: flex;
        align-items: center;
        gap: $devie__spacing__x1;

        &[data-disabled] {
            cursor: not-allowed;
        }
    }

    .error {
        font-size: $devie__font-size__small;
        display: flex;
        align-items: center;
        gap: $devie__spacing__x05;
        color: $devie__color__danger;
    }
}
