@use './_devie.scss' as *;

@layer devie {
    .root {
        position: relative;
        background-color: color-mix(in srgb, $devie__color__primary 5%, $devie__color__background 95%);
        border: 1px solid $devie__color__primary;
        border-radius: $devie__radius;
        padding: $devie__spacing__x2 $devie__spacing__x4 $devie__spacing__x2 $devie__spacing__x2;
        display: flex;
        align-items: flex-start;
        gap: $devie__spacing__x1;
        box-shadow: $devie__shadow__menu;
        margin-bottom: $devie__spacing__x2;
        transition: transform 0.3s ease, opacity 0.3s ease;

        &[data-type="success"] {
            background-color: color-mix(in srgb, $devie__color__success 5%, $devie__color__background 95%);
            border-color: $devie__color__success;
        }

        &[data-type="error"] {
            background-color: color-mix(in srgb, $devie__color__danger 5%, $devie__color__background 95%);
            border-color: $devie__color__danger;
        }

        &[data-starting-style] {
            animation: toastSlideIn 150ms cubic-bezier(0.16, 1, 0.3, 1);
        }

        &[data-swiping] {
            transform: translateX(var(--toast-swipe-movement-x));
            transition: none;
        }

        &[data-ending-style] {
            opacity: 0;
        }

        &[data-ending-style][data-swipe-direction='right'] {
            transform: translateX(calc(100% + $devie__spacing__x4));
        }

        &[data-ending-style][data-swipe-direction='left'] {
            transform: translateX(calc(-100% - $devie__spacing__x4));
        }

        @keyframes toastHide {
            from {
                opacity: 1;
            }

            to {
                opacity: 0;
            }
        }

        @keyframes toastSlideIn {
            from {
                transform: translateX(calc(100% + $devie__spacing__x4));
            }

            to {
                transform: translateX(0);
            }
        }
    }

    .viewport {
        position: fixed;
        top: $devie__spacing__x4;
        right: $devie__spacing__x4;
        z-index: 1;
        width: 320px;

        @media (max-width: 480px) {
            top: $devie__spacing__x2;
            right: $devie__spacing__x2;
            left: $devie__spacing__x2;
            width: auto;
        }
    }

    .title {
        font-size: $devie__font-size__normal;
        font-weight: 600;
        line-height: 1.5;
    }

    .description {
        font-size: $devie__font-size__normal;
        line-height: 1.5;
    }

    .action {
        background: $devie__color__primary;
        color: $devie__color__primary-label;
        border: none;
        border-radius: $devie__radius;
        padding: $devie__spacing__x1 $devie__spacing__x2;
        font-size: $devie__font-size__small;
        cursor: pointer;

        &:hover {
            background: #{devie-hover-color($devie__color__primary)};
        }
    }

    .close {
        position: absolute;
        top: $devie__spacing__x2;
        right: $devie__spacing__x1;
        background: transparent;
        border: none;
        color: $devie__color__text;
        padding: $devie__spacing__x05;
        border-radius: $devie__radius;
        display: grid;
        place-items: center;
        cursor: pointer;
        transition: none;

        &:hover {
            background: #{devie-hover-color($devie__color__background)};
        }
    }
}
