@use './_devie.scss' as *;

@layer devie {
    .trigger {
        outline: none;
        cursor: pointer;
        border: none;
        display: inline-flex;
        align-items: center;
        justify-content: center;

        &:where(button) {
            background: none;
            padding: 0;
        }
    }

    .arrow {
        display: flex;
        position: absolute;

        &[data-side="top"] {
            bottom: -8px;
            rotate: 180deg;
        }

        &[data-side="bottom"] {
            top: -8px;
            rotate: 0deg;
        }

        &[data-side="left"] {
            right: -11.5px;
            rotate: 90deg;
        }

        &[data-side="right"] {
            left: -11.5px;
            rotate: -90deg;
        }

    }

    .popup {
        box-sizing: border-box;
        width: max-content;
        max-width: min(280px, var(--available-width, 90vw));
        background-color: $devie__color__text;
        border: 1px solid $devie__color__text;
        border-radius: $devie__radius;
        padding: $devie__spacing__x05 $devie__spacing__x1;
        box-shadow: $devie__shadow__menu;
        font-size: 12px;
        font-weight: 500;
        color: $devie__color__background;
        transform-origin: var(--transform-origin);
        white-space: normal;
        overflow-wrap: break-word;

        &[data-starting-style],
        &[data-ending-style] {
            opacity: 0;
        }

        &[data-instant] {
            transition-duration: 0ms;
        }
    }

    .arrowFill {
        fill: $devie__color__text;

    }

    .arrowInnerStroke {
        fill: $devie__color__text;
    }
}