@layer devie {
  [data-devie-theme="theme-midnight-ink"] {
    --devie__theme-name: Midnight Ink;
    --devie__color__text: #e6e8f0;
    --devie__color__text-sub: #9ca3af;
    --devie__color__line: #9c9c9c;
    --devie__color__background: #131419;
    --devie__color__background-sub: #252730;
    --devie__color__primary: #8372b5;
    --devie__color__primary-label: #fff;
    --devie__color__danger: #ef4444;
    --devie__color__danger-label: #ffffff;
    --devie__color__success: #10b981;
    --devie__color__success-label: #ffffff;
    --devie__color__warning: #f59e0b;
    --devie__color__warning-label: #000000;
    --devie__font-family:
      "Instrument Sans", "Instrument Sans Fallback", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    --devie__effect__hover-intensity: 0.4;
    --devie__effect__disabled-intensity: 0.7;
    --devie__effect__disabled-desaturate: 0.3;
    --devie__effect__disabled-target-l: 0.5;
  }
}
