@layer devie {
  [data-devie-theme="theme-catpuccin-latte"] {
    --devie__theme-name: Catpuccin Latte;
    --devie__color__text: #4c4f69;
    --devie__color__text-sub: #5c5f77;
    --devie__color__line: #acb0be;
    --devie__color__background: #eff1f5;
    --devie__color__background-sub: #e6e9ef;
    --devie__color__primary: #8839ef;
    --devie__color__primary-label: #ffffff;
    --devie__color__danger: #e64553;
    --devie__color__danger-label: #ffffff;
    --devie__color__success: #40a02b;
    --devie__color__success-label: #ffffff;
    --devie__color__warning: #fe640b;
    --devie__color__warning-label: #ffffff;
    --devie__font-family:
      -apple-system, BlinkMacSystemFont, "SF Pro Text", "SF Pro Display",
      "Helvetica Neue", Helvetica, Arial, "Apple Color Emoji", sans-serif;
  }
}
