@use "../ui/_devie.scss" as *;

.providerOption {
  display: flex;
  align-items: center;
  gap: $devie__spacing__x1;

  span,
  strong,
  small {
    display: block;
  }

  small {
    margin-top: $devie__spacing__x05;
    color: $devie__color__text-sub;
  }
}

.status,
.error {
  margin: 0;
  font-size: $devie__font-size__small;
}

.status {
  color: $devie__color__text-sub;
}

.error {
  color: $devie__color__danger;
}
