@use "../ui/_devie.scss" as *;

.section {
  display: flex;
  flex-direction: column;
  gap: $devie__spacing__x05;
  padding: $devie__spacing__x05;
  border: 1px solid $devie__color__line;
  border-radius: $devie__radius-strong;
  background: $devie__color__background-sub;

  & + & {
    margin-top: $devie__spacing__x3;
  }
}

.sectionTitle {
  margin: 0;
  padding: $devie__spacing__x1 $devie__spacing__x1 $devie__spacing__x05;
  font-size: $devie__font-size__normal;
  font-weight: 600;
}

.sectionBody {
  overflow: hidden;
  border: 1px solid $devie__color__line;
  border-radius: calc($devie__radius-strong - $devie__spacing__x05);
  background: $devie__color__background;
}

.row {
  display: flex;
  min-height: 40px;
  align-items: center;
  gap: $devie__spacing__x2;
  padding: $devie__spacing__x1 $devie__spacing__x2;
}

.text {
  display: flex;
  min-width: 0;
  flex: 1;
  flex-direction: column;
  justify-content: center;

  p {
    overflow: hidden;
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  p:not(.subText) {
    font-weight: 500;
  }
}

.subText {
  color: $devie__color__text-sub;
  font-size: $devie__font-size__small;
}

.actions {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  gap: $devie__spacing__x1;
}
