@use "../ui/_devie.scss" as *;

.trigger {
  min-width: 164px;
}

.value,
.item {
  display: flex;
  align-items: center;
  gap: $devie__spacing__x1;
}

.item {
  flex: 1;
}

.thumbnail {
  flex-shrink: 0;
  border-radius: 4px;
}

.popup {
  min-width: 164px;
}
