@use "../ui/_devie.scss" as *;

.titleBar {
  display: flex;
  height: 64px;
  flex-shrink: 0;
  align-items: center;
  gap: $devie__spacing__x2;
  margin: 0 $devie__spacing__x4;
  padding-top: $devie__spacing__x1;
  border-bottom: 1px solid $devie__color__line;
  box-sizing: border-box;
  user-select: none;
}

.leading {
  display: flex;
  min-width: 0;
  align-items: center;
  gap: $devie__spacing__x1;
}

.title {
  margin: 0;
  font-size: $devie__font-size__title2;
  font-weight: 600;
  letter-spacing: -0.01em;
  pointer-events: none;
}
