@layer devie {
  [data-devie-theme="theme-command-prompt"] {
    --devie__theme-name: Command Prompt;
    --devie__color__text: #00ff00;
    --devie__color__text-sub: #00cc00;
    --devie__color__line: #003300;
    --devie__color__background: #000000;
    --devie__color__background-sub: #111111;
    --devie__color__primary: #00ff00;
    --devie__color__primary-label: #000000;
    --devie__color__danger: #ff0000;
    --devie__color__danger-label: #ffffff;
    --devie__color__success: #00ff00;
    --devie__color__success-label: #000000;
    --devie__color__warning: #ffff00;
    --devie__color__warning-label: #000000;
    --devie__font-family:
      -apple-system, BlinkMacSystemFont, "SF Pro Text", "SF Pro Display",
      "Helvetica Neue", Helvetica, Arial, "Apple Color Emoji", sans-serif;
  }
}
